nav{
    margin-top:5px;
}
#icerik{
    margin-top:100px;
}
.nav-item{
    margin-left:10px;
}
body{
    background-color:orange;
    font-family: "Times New Roman";
    font-weight: bold;
}
#content-col{
    border-radius:50px;
    padding:50px;
}
td{
    padding:15px;
    padding-left:0px;
    padding-right:3px;
}
input[type=radio]{
    margin-right:10px;
}
a{
    text-decoration:none;
}
p{
    margin-top:10px;
}